<h1 class="text-center font-bold text-4xl py-2">{{'audit.list' | translate}}</h1>

<div infiniteScroll (scrolled)="onScrollDown()" [infiniteScrollThrottle]="1000" [infiniteScrollDistance]="2">
  <div class="grid grid-cols-2 gap-10">
      <ng-container class="trip-list-card" *ngFor="let audit of audits;">
        <div routerLink="/audits/{{audit.id}}" class="transition duration-100 ease-in-out transform hover:-translate-y-1 hover:scale-105 hover:z-40  bg-white border-2 text-center cursor-pointer rounded-r-md flex flex-col justify-between leading-normal">
          <div class="mb-5 mt-5">
            <div class="text-gray-900 font-bold text-xl mb-2"><a routerLink="/audits/{{audit.id}}">{{audit.title}}</a></div>
            <p class="text-gray-700 text-base">{{audit.description}}</p>
            <span class="inline-block bg-orange-200 mt-5 rounded-full px-3 py-1 mr-2">
              <i class="fa fa-clock-o mr-1" aria-hidden="true"></i>{{audit.createdAt | date}}
            </span>
            <span *ngIf="audit.attachments" class="inline-block bg-orange-200 mt-5 rounded-full px-3 py-1 mr-2">
              <i class="fa fa-paperclip mr-1" aria-hidden="true"></i>{{'audit.attachments' | translate}}
            </span>
          </div>
      </div>
    </ng-container>
  </div>
  </div>