<div class="w-48c content-center text-center mx-auto">
  <form [formGroup]="tripForm" (ngSubmit)="onCreateTrip()" class="text-base bg-white shadow-2xl rounded px-8 pt-6 pb-8">
    <h1 class="text-5xl">{{'trip.create' | translate}}</h1><br/>
    <div class="mb-4">
      <label class="block text-gray-700 text-md font-bold mb-2" for="title">
        {{'trip.title' | translate}}
      </label>
      <input class="appearance-none border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="title" formControlName="title" type="text" placeholder="{{'trip.title' | translate}}">
      <div *ngIf="tripForm.get('title').errors && tripForm.get('title').touched && tripForm.get('title').errors.required" class="text-red-700 text-sm mt-1 rounded relative" role="alert">
        <span class="block sm:inline">{{'messages.validation.required' | translate}}</span>
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-md font-bold mb-2" for="description">
        {{'trip.description' | translate}}
      </label>
      <textarea class="appearance-none border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="description" formControlName="description" type="text" placeholder="{{'trip.description' | translate}}"></textarea>
      <div *ngIf="tripForm.get('description').errors && tripForm.get('description').touched && tripForm.get('description').errors.required" class="text-red-700 text-sm mt-1 rounded relative" role="alert">
        <span class="block sm:inline">{{'messages.validation.required' | translate}}</span>
      </div>
    </div>

    <div class="flex flex-wrap -mx-3 mb-5">
      <div class="w-full md:w-4/12 px-3 mb-6 md:mb-0">
      <label class="block text-gray-700 text-md font-bold mb-2" for="startDate">
          {{'trip.startDate' | translate}}
        </label>
        <p-calendar placeholder="{{'trip.startDate' | translate}}" formControlName="startDate"></p-calendar>
        <div *ngIf="tripForm.get('startDate').errors && tripForm.get('startDate').touched && tripForm.get('startDate').errors.required" class="text-red-700 text-sm mt-1 rounded relative" role="alert">
          <span class="block sm:inline">{{'messages.validation.required' | translate}}</span>
        </div>
      </div>
      <div class="w-full md:w-4/12 px-3 mb-6 md:mb-0">
        <label class="block text-gray-700 text-md font-bold mb-2" for="endDate">
          {{'trip.endDate' | translate}}
        </label>
        <p-calendar placeholder="{{'trip.endDate' | translate}}" formControlName="endDate"></p-calendar>
        <div *ngIf="tripForm.get('endDate').errors && tripForm.get('endDate').touched && tripForm.get('endDate').errors.required" class="text-red-700 text-sm mt-1 rounded relative" role="alert">
          <span class="block sm:inline">{{'messages.validation.required' | translate}}</span>
        </div>
      </div>
      <div class="w-full md:w-4/12 px-3 mb-6 md:mb-0">
        <label class="block text-gray-700 text-md font-bold mb-2" for="startDate">
          {{'trip.publicationDate' | translate}}
        </label>
        <p-calendar placeholder="{{'trip.startDate' | translate}}" formControlName="publicationDate"></p-calendar>
        <div *ngIf="tripForm.get('publicationDate').errors && tripForm.get('publicationDate').touched && tripForm.get('publicationDate').errors.required" class="text-red-700 text-sm mt-1 rounded relative" role="alert">
          <span class="block sm:inline">{{'messages.validation.required' | translate}}</span>
        </div>
      </div>
    </div>

    <div class="mb-5">
      <label class="block text-gray-700 text-md font-bold mb-2" for="requirements">
        {{'trip.requirements' | translate}}
      </label>
      <input class="appearance-none border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="requirements" formControlName="requirements" type="text" placeholder="{{'trip.requirements' | translate}}">
      <div *ngIf="tripForm.get('requirements').errors && tripForm.get('requirements').touched && tripForm.get('requirements').errors.required" class="text-red-700 text-sm mt-1 rounded relative" role="alert">
        <span class="block sm:inline">{{'messages.validation.required' | translate}}</span>
      </div>
    </div>

    <div class="border-2 p-5 mb-4">
      <h2 class="text-xl mb-4 font-bold text-gray-900">{{'stage.stages' | translate}}</h2>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full md:w-3/12 px-3 mb-6 md:mb-0">
          <label class="block tracking-wide text-gray-700 font-bold mb-2">
            {{'trip.title' | translate}}
          </label>
        </div>
        <div class="w-full md:w-5/12 px-3 mb-6 md:mb-0">
          <label class="block tracking-wide text-gray-700 font-bold mb-2">
            {{'trip.description' | translate}}
          </label>
        </div>
        <div class="w-full md:w-3/12 px-3 mb-6 md:mb-0">
          <label class="block tracking-wide text-gray-700 font-bold mb-2">
            {{'trip.price' | translate}}
          </label>
        </div>
        <div class="w-full md:w-1/12 px-3 mb-6 md:mb-0">
        </div>
      </div>
    <div formArrayName="stages"
      *ngFor="let stage of tripForm.controls['stages'].controls; let i = index;">
      <div [formGroupName]="i">
        <div class="flex flex-wrap -mx-3 mb-2">
          <div class="w-full md:w-3/12 px-3 mb-6 md:mb-0">
            <input class="appearance-none border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="stage-title" formControlName="title" type="text" placeholder="{{'trip.title' | translate}}">
            <div *ngIf="tripForm.controls['stages'].controls[i].get('title').errors && tripForm.controls['stages'].controls[i].get('title').touched && tripForm.controls['stages'].controls[i].get('title').errors.required" class="text-red-700 text-sm mt-1 rounded relative" role="alert">
              <span class="block sm:inline">{{'messages.validation.required' | translate}}</span>
            </div>
          </div>
          <div class="w-full md:w-5/12 px-3 mb-6 md:mb-0">
            <textarea class="appearance-none border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="stage-description" formControlName="description" type="text" placeholder="{{'trip.description' | translate}}"></textarea>
            <div *ngIf="tripForm.controls['stages'].controls[i].get('description').errors && tripForm.controls['stages'].controls[i].get('description').touched && tripForm.controls['stages'].controls[i].get('description').errors.required" class="text-red-700 text-sm mt-1 rounded relative" role="alert">
              <span class="block sm:inline">{{'messages.validation.required' | translate}}</span>
            </div>
          </div>
          <div class="w-full md:w-3/12 px-3 mb-6 md:mb-0">
            <input class="appearance-none border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="price" formControlName="price" type="number" placeholder="{{'trip.price' | translate}}">
            <div *ngIf="tripForm.controls['stages'].controls[i].get('price').errors && tripForm.controls['stages'].controls[i].get('price').touched && tripForm.controls['stages'].controls[i].get('price').errors.required" class="text-red-700 text-sm mt-1 rounded relative" role="alert">
              <span class="block sm:inline">{{'messages.validation.required' | translate}}</span>
            </div>
          </div>
          <div class="md:w-1/12 text-md items-center">
            <button class="text-red-900 h-8 w-8 m-2 bg-red-300 hover:bg-red-400 rounded-full focus:outline-none focus:shadow-outline" type="button" (click)="deleteStage(i)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <button class="text-sm text-purple-800 m-2 bg-purple-300 hover:bg-purple-300 py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" (click)="addStage()">
      <i class="fa fa-plus-circle"></i>
      {{'stage.add' | translate}}
    </button>
    </div>

    <h2 class="text-xl mb-4 font-bold text-gray-900">{{'trip.pictures' | translate}}</h2>
    <p-fileUpload 
      customUpload="true" 
      multiple="multiple" 
      accept="image/*" 
      (uploadHandler)="onPictureUpload($event)" 
      (onRemove)="onPictureRemove($event)" 
      name="myfile[]"
      uploadLabel="{{'common.upload' | translate}}"
      cancelLabel="{{'common.clear' | translate}}"
      chooseLabel="{{'common.choose' | translate}}"
      styleClass="uploader"
      [showCancelButton]="false"
      [auto]="true"
      [showUploadButton]="false"
      ></p-fileUpload><br/>

    <div class="flex items-center justify-center">
      <button [ngClass]="{'opacity-50 cursor-not-allowed': tripForm.invalid}" [disabled]="tripForm.invalid" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        {{'common.create' | translate}}
      </button>
    </div>

  </form>
</div>