<div *ngIf="tripApplications.length === 0">
  <p class="text-gray-500 text-base text-5xl font-bold">Nothing to show ☹</p>
</div>
<div *ngIf="tripApplications.length !== 0" class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
  <div *ngFor="let a of tripApplications; index as i;" class="max-w-sm rounded-lg overflow-hidden shadow-lg bg-white m-4"
    infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()" (scrolledUp)="onScrollUp()">
    <div class="flex flex-col min-h-full">
      <div class="px-6 py-4 border-b" [style.background-color]=backgroundColor.get(a.id)[0]>
        <div class="text-xl text-center font-bold">{{ getInternationalCode(a.status) | translate}}</div>
      </div>
      <div class="px-6 py-10 flex-grow" [style.background-color]=backgroundColor.get(a.id)[1]>
        <p class="text-gray-700 text-base">
          <span class="fa fa-user fa-lg fill-current h-6 w-6" viewBox="0 0 20 20"></span><span class="font-bold"> {{'tripApplication.explorer' | translate}}:</span> {{explorersNames.get(a.explorer)}}
        </p>
        <p class="text-gray-700 text-base">
          <span class="fa fa-plane fa-lg fill-current h-6 w-6" viewBox="0 0 20 20"></span><span class="font-bold"> {{'tripApplication.trip' | translate}}: </span> <a routerLink="/trips/{{a.trip}}">{{tripsTitles.get(a.trip)}}</a>
        </p>
        <div class="px-6 pt-4 text-center text-gray-700 text-base">
          <p class="inline-block bg-pink-100 rounded-full px-3 py-1 mb-2"><span class="font-bold">{{'tripApplication.moment' | translate}}:</span>&nbsp;{{a.moment | date}}</p>
          <p class="inline-block bg-pink-100 rounded-full px-3 py-1"><span class="font-bold">{{'tripApplication.paidDate' | translate}}:</span>&nbsp;<span *ngIf="a.paidDate">{{a.paidDate | date}}</span><span *ngIf="!a.paidDate">-</span></p>
        </div>
        <p *ngIf="a.comments" class="text-gray-700 text-base pt-2">
          <span class="font-bold">{{'tripApplication.comments' | translate}}:</span> {{a.comments}}
        </p>
      </div>
      <div class="px-5 py-3 border-t bg-gray-100 flex justify-end" [style.background-color]=backgroundColor.get(a.id)[1]>
        <p *ngIf="a.rejectedReason"><span class="font-bold">{{'tripApplication.rejectedReason' | translate}}:</span> {{a.rejectedReason}}</p>
      </div>
    </div>
  </div>
</div>