<div class="block justify-center items-center sm:inline-flex  px-20 py-8">
  <div class="flex justify-center sm:w-1/4 text-center sm:px-6">
    <img class="py-6 w-40 sm:w-64" src="../../../assets/pictures/denied-access/reset.png">
  </div>
  <div class="sm:w-3/4">
    <h1 class="text-center sm:text-left font-bold text-4xl">{{'denied-access-page.title' | translate}}</h1>
    <h1 class="text-center sm:text-left font-light text-xl">{{'denied-access-page.message-start' | translate}}
      {{url}} {{'denied-access-page.message-end' | translate}}</h1>
  </div>
</div>