table .picture {
    width: 20em;
}
.canceled-img img {
    filter: grayscale(60%);
    opacity: 0.65;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E14264;
    font-weight: bolder;
    font-size: 2vw;
    -webkit-text-stroke: 0.1px #E14264;
}
.canceled-img {
    position: relative;
    text-align: center;
}