<h1 class="text-center font-bold sm:text-4xl md:text-4xl text-3xl py-2 mb-10">{{'trip.list' | translate}}</h1>
<div *ngIf="!managerView" class="mb-5">
  <form [formGroup]="searchForm">
    <div class="content-center text-center flex flex-col sm:flex-row md:flex-row lg:flex-row xl:flex-row">
      <div class="sm:w-full md:w-full lg:w-full xl:w-1/3 mr-5">
        <label>{{'trip.searchText' | translate}}</label>
        <input (keyup)="searchTrips()"
          class="w-full border-2 border-gray-300 bg-white h-10 px-5 rounded-lg text-sm focus:outline-none"
          type="text" name="text" formControlName="text" placeholder="{{'common.search' | translate}}">
      </div>
      <div *ngIf="showPriceSearh" class="sm:w-full md:w-full lg:w-full xl:w-1/3 mr-5">
        <label>{{'trip.searchPrice' | translate}}</label>
        <ng5-slider (userChange)="searchTrips($event)" formControlName="prices"
          [options]="options"></ng5-slider>
      </div>
      <div class="sm:w-full md:w-full lg:w-full xl:w-1/3">
        <label>{{'trip.dates' | translate}}</label>
        <input type="text" [(locale)]="locale" (change)="searchTrips()" ngxDaterangepickerMd formControlName="dates" class="w-full border-2 border-gray-300 bg-white h-10 px-5 rounded-lg text-sm focus:outline-none"/>
      </div>
    </div>
  </form>
</div>
<div infiniteScroll (scrolled)="onScrollDown()" [infiniteScrollThrottle]="1000" [infiniteScrollDistance]="2">
<div class="grid grid-cols-1 gap-4 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2">
    <ng-container class="trip-list-card" *ngFor="let t of trips; let i = index">
    <div *ngIf="managerView || (!managerView && moment(t.publicationDate).isSameOrBefore(moment()) && moment(t.startDate).isSameOrAfter(dates.startDate) && moment(t.endDate).isSameOrBefore(dates.endDate))" routerLink="/trips/{{t.id}}" class="transition duration-100 ease-in-out transform hover:-translate-y-1 hover:scale-105 hover:z-40 cursor-pointer rounded mb-10 lg:max-w-full lg:flex flex">
      <div *ngIf="!t.cancelReason && t.pictures.length>0" [ngStyle]="{'background-image': 'url(' + t.pictures[0] + ')'}"
        class="trip-img w-64 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden">
      </div>
      <div *ngIf="t.cancelReason && t.pictures.length>0" [ngStyle]="{'background-image': 'url(' + t.pictures[0] + ')'}"
        class="canceled-img trip-img w-64 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden">
        <div class="z-50 centered">{{'trip.cancelled' | translate}}</div>
      </div>
      <div *ngIf="!t.cancelReason && t.pictures.length==0" [ngStyle]="{'background-image': 'url(https://i.kinja-img.com/gawker-media/image/upload/c_fill,f_auto,fl_progressive,g_center,h_675,pg_1,q_80,w_1200/pn1cjpg4x5fzmb7pstwl.png)'}"
        class="trip-img h-48 lg:h-auto lg:w-64 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden">
      </div>
      <div *ngIf="t.cancelReason && t.pictures.length==0" [ngStyle]="{'background-image': 'url(https://i.kinja-img.com/gawker-media/image/upload/c_fill,f_auto,fl_progressive,g_center,h_675,pg_1,q_80,w_1200/pn1cjpg4x5fzmb7pstwl.png)'}"
        class="canceled-img trip-img h-48 lg:h-auto lg:w-64 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden">
        <div class="z-50 centered">{{'trip.cancelled' | translate}}</div>
      </div>
      <div
        class="bg-white border-r-2 border-t-2 border-b-2 rounded-r-md p-4 flex flex-col justify-between leading-normal">
        <div class="mb-8">
          <div class="text-gray-900 font-bold text-xl mb-2"><a routerLink="/trips/{{t.id}}">{{t.title}}</a></div>
          <p class="text-gray-700 text-base">{{t.description}}</p>
        </div>
        <div class="flex items-center">
          <div class="text-sm">
            <span
              class="text-gray-900 leading-none bg-orange-200 rounded-full px-3 py-1 font-bold mr-2">{{t.startDate | date}}
              - {{t.endDate | date}}</span>
            <span class="text-gray-900 leading-none bg-orange-200 rounded-full px-3 py-1 font-bold">{{t.price}}€</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
</div>