<div class="justify-center flex">
<div class="block justify-center items-center sm:inline-flex  px-20 py-8">
  <div class="sm:w-3/4">
    <h1 class="text-center sm:text-left font-bold text-4xl">{{'not-found-page.title' | translate}}</h1>
    <h1 class="text-center sm:text-left font-light text-xl">{{'not-found-page.subtitle' | translate}}</h1>
  </div>
  <div class="flex justify-center sm:w-1/4 text-center">
    <img class="py-6 w-40 sm:w-64" src="../../../assets/pictures/not-found/betunio.png">
  </div>
</div>
</div>