<div *ngIf="sponsorships.length === 0" class="text-center m-auto">
  <p class="text-gray-500 text-base text-5xl font-bold">{{'common.nothing' | translate}} ☹</p>
</div>
<div *ngIf="sponsorships.length !== 0" class="max-w-full m-auto" style="width: 80vw;">
  <div *ngFor="let s of sponsorships" class="h-48 border border-white rounded p-4 flex flex-col justify-between leading-normal m-6" 
    [ngStyle]="{ 'background-image': 'url(' + s.banner + ')'}" style="background-size: cover; background-position: center;"
    infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()" (scrolledUp)="onScrollUp()">
    <div class="px-6 py-4 overflow-y-auto">
      <span *ngIf="s.paid" class="inline-block bg-green-200 rounded-full px-3 py-1 text-sm font-bold text-green-700 uppercase mr-2 mb-2">{{'sponsorship.paid' | translate}}</span>
      <span *ngIf="!s.paid" class="inline-block bg-red-200 rounded-full px-3 py-1 text-sm font-bold text-red-700 uppercase mr-2 mb-2">{{'sponsorship.notPaid' | translate}}</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-bold text-gray-700 mr-2 mb-2">{{'sponsorship.trip' | translate}}: <a routerLink="/trips/{{s.trip}}" class="font-normal">{{tripsTitles.get(s.trip)}}</a></span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-bold text-gray-700 mr-2 mb-2">{{'sponsorship.landingPage' | translate}}: <a href="{{s.landingPage}}" class="font-normal">{{s.landingPage}}</a></span>
    </div>
  </div>
</div>