<div class="w-48c content-center text-center mx-auto">
  <form [formGroup]="registrationForm" (ngSubmit)="onRegister()" class="text-base bg-white shadow-2xl rounded px-8 pt-6 pb-8">
    <h1 class="text-5xl">{{'titles.register' | translate}}</h1><br/>
    <div class="mb-4">
      <label class="block text-gray-700 text-md font-bold mb-2" for="name">
        {{'actor.name' | translate}}
      </label>
      <input class="appearance-none border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" formControlName="name" type="text" placeholder="{{'actor.name' | translate}}">
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-md font-bold mb-2" for="surname">
        {{'actor.surname' | translate}}
      </label>
      <input class="appearance-none border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="surname" formControlName="surname" type="text" placeholder="{{'actor.surname' | translate}}">
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-md font-bold mb-2" for="email">
        {{'actor.email' | translate}}
      </label>
      <input class="appearance-none border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" formControlName="email" type="text" placeholder="{{'actor.email' | translate}}">
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-md font-bold mb-2" for="phoneNumber">
        {{'actor.phone' | translate}}
      </label>
      <input class="appearance-none border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="phoneNumber" formControlName="phoneNumber" type="text" placeholder="{{'actor.phone' | translate}}">
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-md font-bold mb-2" for="address">
        {{'actor.address' | translate}}
      </label>
      <input class="appearance-none border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="address" formControlName="address" type="text" placeholder="{{'actor.address' | translate}}">
    </div>

    <!-- According to requirements, users can only be registered as explorers -->
    <!-- <div class="mb-4">
      <label class="block text-gray-700 text-md font-bold mb-2" for="role">
        {{'actor.role' | translate}}
      </label>
      <input class="appearance-none border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="role" formControlName="role" type="text" placeholder="{{'actor.role' | translate}}">
    </div> -->

    <div class="mb-6">
      <label class="block text-gray-700 text-md font-bold mb-2" for="password">
        {{'actor.password' | translate}}
      </label>
      <input class="appearance-none border-2 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" formControlName="password" type="password" placeholder="{{'actor.password' | translate}}">
    </div>
    <div class="flex items-center justify-center">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        {{'security.signin' | translate}}
      </button>
      <!-- <a class="inline-block align-baseline font-bold text-md text-blue-500 hover:text-blue-800" href="#">
        Forgot Password?
      </a> -->
    </div>
  </form>
</div>