<div class="card mx-auto mt-4" style="width: 18 rem;">
    <img class="card-img-top mx-auto" src="{{pictures[0]}}" style="width: 40%; height: 40%;" alt="Main trip image">
    <div class="card-body mb-2">
        <h5 class="card-title text-center">{{title}}</h5>
        <h6 class="card-subtitle text-center text-muted">{{ticker}}</h6>
        <p class="card-text ml-2">{{description}}</p>
    </div>
    <div class="card-body">
        <p class="card-text text-right mr-1 mb-1">
            <strong>{{'Price:'}}</strong>&nbsp;{{price}}
        </p>
    </div>
</div>