<div *ngIf="randomSponsorship" class="pb-6">
  <a href="{{randomSponsorship.landingPage}}"><img class="object-cover h-40 w-screen" src="{{randomSponsorship.banner}}"></a>
</div>
<div class="flex justify-center">
  <div class="flex flex-col mr-10">
    <div class="bg-orange-200 rounded font-bold text-xl mb-2 text-center">{{'stage.stages' | translate}}</div>
    <div class="flex max-w-xl m-0 pb-4">	
      <div class="flex flex-col pb-3">
        <div class="flex-1">
        </div>
        
        <div *ngFor="let s of trip.stages; let i = index">
          <div class="flex">
            <div class="w-10 h-10 bg-pink-200 rounded-full text-lg text-white flex items-center">
              <span class="text-white text-center w-full">{{i+1}}</span>
            </div>
            <p class="font-bold text-base my-2 ml-2">{{s.title}}</p>
          </div>
          <div class="flex">
          <div class="align-center items-center mx-5 my-2 align-middle content-center flex flex-col">
            <div class="w-full bg-grey-200 rounded items-center align-middle align-center flex-1">
              <div class="bg-pink-200 text-xs leading-none py-1 text-center text-grey-darkest rounded h-20 w-2"></div>
            </div>
          </div>
          <p class="break-all text-sm">{{s.description}}<br>
          <b>{{'trip.price' | translate}}:</b> {{s.price}}€</p>
          </div>
        </div>
        <div class="w-10 h-10 bg-pink-200 rounded-full text-lg text-white flex items-center">
          <span class="text-white text-center w-full"><i class="fa fa-flag"></i></span>
        </div>
        <div class="flex-1">
        </div>		
      </div>
    </div>
  </div>


<div class="max-w-xl rounded overflow-hidden shadow-lg bg-white">
  <div *ngIf="trip.cancelReason" class="px-6 py-4 bg-red-200 text-center">
    <p class="px-3 py-1"><span class="font-bold">{{'trip.sorry' | translate}}</span></p>
    <p>{{trip.cancelReason}}</p>
  </div>
  <ngx-slick-carousel class="carousel" 
                      #slickModal="slick-carousel" 
                      [config]="slideConfig">
      <div ngxSlickItem *ngFor="let p of trip.pictures" class="slide">
            <img src="{{p}}" class="w-full">
      </div>
  </ngx-slick-carousel> 
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2 text-center">{{trip.title}}&nbsp;<span class="text-gray-500">({{trip.ticker}})</span></div>
    <p class="text-gray-700 text-base text-center">{{trip.description}}</p>
    <div class="px-6 pt-4 text-center">
      <span class="font-bold">{{'trip.dates' | translate}}:&nbsp;</span><span class="inline-block bg-orange-200 rounded-full px-3 py-1 font-bold mr-2">{{trip.startDate | date}} - {{trip.endDate | date}}</span>
      <span class="font-bold">{{'trip.price' | translate}}:&nbsp;</span><span class="text-right bg-orange-200 rounded-full px-3 py-1 font-bold mr-2">{{trip.price}}&euro;</span>
    </div>
  </div>
  <div class="px-6 py-4 bg-orange-200">
    <p class="px-3 py-1"><span class="font-bold">{{'trip.requirements' | translate}}:</span>&nbsp;{{trip.requirements}}</p>
  </div>
</div>

<div *ngIf="audits.length" class="ml-10">
  <div class="bg-orange-200 rounded font-bold text-xl mb-2 text-center">{{'trip.audits' | translate}}</div>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-auto row-border hover">
    <thead>
      <tr>
        <th class="px-4 py-2">{{'trip.publicationDate' | translate}}</th>
        <th class="px-4 py-2">{{'trip.title' | translate}}</th>
      </tr>
    </thead>
    <tbody *ngFor="let audit of audits; let i = index">
      <tr class="bg-white">
        <td class="border px-4 py-2 text-center">{{audit.createdAt}}</td>
        <td class="border px-4 py-2 text-center"><a href="/audits/{{audit.id}}">{{audit.title}}</a></td>
      </tr>
    </tbody>
  </table>
</div>
</div>