<div *ngIf="randomSponsorship" class="pb-6">
  <a href="{{randomSponsorship.landingPage}}"><img class="object-cover h-40 w-screen" src="{{randomSponsorship.banner}}"></a>
</div>
<div class="flex flex-col sm:flex-col md:flex-row lg:flex-row xl:flex-row justify-center">
  <div class="flex flex-col mr-10">
    <div class="bg-orange-200 rounded font-bold text-xl mb-2 text-center">{{'stage.stages' | translate}}</div>
    <div class="flex max-w-xl m-0 pb-4">	
      <div class="flex flex-col pb-3">
        <div class="flex-1">
        </div>
        
        <div *ngFor="let s of trip.stages; let i = index">
          <div class="flex">
            <div class="w-10 h-10 bg-pink-200 rounded-full text-lg text-white flex items-center">
              <span class="text-white text-center w-full">{{i+1}}</span>
            </div>
            <p class="font-bold text-base my-2 ml-2">{{s.title}}</p>
          </div>
          <div class="flex">
          <div class="align-center items-center mx-5 my-2 align-middle content-center flex flex-col">
            <div class="w-full bg-grey-200 rounded items-center align-middle align-center flex-1">
              <div class="bg-pink-200 text-xs leading-none py-1 text-center text-grey-darkest rounded h-20 w-2"></div>
            </div>
          </div>
          <p class="text-sm">{{s.description}}<br>
          <b>{{'trip.price' | translate}}:</b> {{s.price}}€</p>
          </div>
        </div>
        <div class="w-10 h-10 bg-pink-200 rounded-full text-lg text-white flex items-center">
          <span class="text-white text-center w-full"><i class="fa fa-flag"></i></span>
        </div>
        <div class="flex-1">
        </div>		
      </div>
    </div>
  </div>


<div class="max-w-xl rounded overflow-hidden shadow-lg bg-white">
  <div *ngIf="trip.cancelReason" class="px-6 py-4 bg-red-200 text-center">
    <p class="px-3 py-1"><span class="font-bold">{{'trip.sorry' | translate}}</span></p>
    <p>{{trip.cancelReason}}</p>
  </div>
  <ngx-slick-carousel class="carousel" 
                      #slickModal="slick-carousel" 
                      [config]="slideConfig">
      <div ngxSlickItem *ngFor="let p of trip.pictures" class="slide">
            <img src="{{p}}" class="w-full">
      </div>
  </ngx-slick-carousel> 
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2 text-center">{{trip.title}}&nbsp;<span class="text-gray-500">({{trip.ticker}})</span></div>
    <p class="text-gray-700 text-base text-center">{{trip.description}}</p>
    <div class="px-6 pt-4 text-center">
      <span class="font-bold">{{'trip.dates' | translate}}:&nbsp;</span><span class="inline-block bg-orange-200 rounded-full px-3 py-1 font-bold mr-2">{{trip.startDate | date}} - {{trip.endDate | date}}</span>
      <span class="font-bold">{{'trip.price' | translate}}:&nbsp;</span><span class="text-right bg-orange-200 rounded-full px-3 py-1 font-bold mr-2">{{trip.price}}&euro;</span>
    </div>
  </div>
  <div class="px-6 py-4 bg-orange-200">
    <p class="px-3 py-1"><span class="font-bold">{{'trip.requirements' | translate}}:</span>&nbsp;{{trip.requirements}}</p>
  </div>
</div>

<div class="flex flex-col">
<div *ngIf="audits.length" class="ml-10">
  <div class="bg-orange-200 rounded font-bold text-xl mt-5 mb-2 text-center">{{'trip.audits' | translate}}</div>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-auto row-border hover">
    <thead>
      <tr>
        <th class="px-4 py-2">{{'trip.publicationDate' | translate}}</th>
        <th class="px-4 py-2">{{'trip.title' | translate}}</th>
      </tr>
    </thead>
    <tbody *ngFor="let audit of audits; let i = index">
      <tr class="bg-white">
        <td class="border px-4 py-2 text-center">{{audit.createdAt}}</td>
        <td class="border px-4 py-2 text-center"><a href="/audits/{{audit.id}}">{{audit.title}}</a></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="mt-5 ml-10">
  <button *ngIf="currentActor && currentActor.id == trip.manager" routerLink="/trips/{{trip.id}}/edit" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
    {{'common.edit' | translate}}
  </button>
</div>
<div class="ml-10">
  <div class="mx-10">
    <button *ngIf="!currentActor && !hasStarted" routerLink="/login" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 hover:border-blue-500 rounded">
      {{'trip.apply' | translate}}
    </button>
    <button *ngIf="currentActor && currentActor.role === 'EXPLORER' && !hasStarted" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 hover:border-blue-500 rounded" type="button" (click)="toggleModal()">
      {{'trip.apply' | translate}}
    </button>
  </div>
</div>
<!--Modal-->
<div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center" style="z-index: 2;">
  <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
  
  <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">

    <!-- Add margin if you want to see some of the overlay behind the modal-->
    <div class="modal-content py-4 text-left px-6">
      <!--Title-->
      <div class="flex justify-between items-center pb-3">
        <p class="text-2xl font-bold">{{'trip.applicationTitle' | translate}}</p>
        <div class="modal-close cursor-pointer z-50" (click)="toggleModal()">
          <i class="fa fa-times mr-1" aria-hidden="true"></i>
        </div>
      </div>

      <!--Body-->
      <p>{{'trip.optionalComments' | translate}}:</p>

      <form (ngSubmit)="onAccept(f)" #f="ngForm" id="application">
        <textarea ngModel name="comments" form="application" class="resize-none border rounded focus:outline-none focus:shadow-outline w-full h-32 my-4"></textarea>
        <!--Footer-->
        <div class="flex justify-center">
          <button type="submit" class="bg-green-300 text-white mx-1 hover:underline font-bold rounded-full py-2 px-2">{{'tripApplication.accept' | translate}}</button>
          <button class="bg-red-300 text-white mx-1 hover:underline font-bold rounded-full py-2 px-2" (click)="toggleModal()">{{'tripApplication.cancel' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>