/* You can add global styles to this file, and also import other style files */

/* Following tailwind syntax but adding c char to the end of custom styles */
.w-48c {
    width: 48rem;
}

body {
    font-family: 'Mali', cursive;
    background-image: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url("./assets/pictures/main/leafs.png");
}
.custom-arrow{
    top: 50%!important;
    z-index: 1;
}