<div class="w-full mx-auto sm:w-7/12 md:w-7/12 lg:w-7/12 content-center text-center flex flex-col">
  <form *ngIf="trip.id != 0" [formGroup]="tripForm" (ngSubmit)="onEditTrip()" class="text-base bg-white shadow-2xl rounded px-8 pt-6 pb-8">
    <h1 class="text-5xl">{{'trip.edit' | translate}}</h1><br/>
    <div class="mb-4">
      <label class="block text-gray-700 text-md font-bold mb-2" for="title">
        {{'trip.title' | translate}}
      </label>
      <input class="appearance-none border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="title" formControlName="title" type="text" placeholder="{{'trip.title' | translate}}">
      <div *ngIf="tripForm.get('title').errors && tripForm.get('title').touched && tripForm.get('title').errors.required" class="text-red-700 text-sm mt-1 rounded relative" role="alert">
        <span class="block sm:inline">{{'messages.validation.required' | translate}}</span>
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-md font-bold mb-2" for="description">
        {{'trip.description' | translate}}
      </label>
      <textarea class="appearance-none border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="description" formControlName="description" type="text" placeholder="{{'trip.description' | translate}}"></textarea>
      <div *ngIf="tripForm.get('description').errors && tripForm.get('description').touched && tripForm.get('description').errors.required" class="text-red-700 text-sm mt-1 rounded relative" role="alert">
        <span class="block sm:inline">{{'messages.validation.required' | translate}}</span>
      </div>
    </div>

    <div class="flex flex-wrap -mx-3 mb-5">
      <div class="w-full md:w-4/12 px-3 mb-6 md:mb-0">
      <label class="block text-gray-700 text-md font-bold mb-2" for="startDate">
          {{'trip.startDate' | translate}}
        </label>
        <p-calendar placeholder="{{'trip.startDate' | translate}}" formControlName="startDate"></p-calendar>
        <div *ngIf="tripForm.get('startDate').errors && tripForm.get('startDate').touched && tripForm.get('startDate').errors.required" class="text-red-700 text-sm mt-1 rounded relative" role="alert">
          <span class="block sm:inline">{{'messages.validation.required' | translate}}</span>
        </div>
        <div *ngIf="tripForm.get('startDate').touched && tripForm.get('startDate').value && tripForm.errors?.startDate" class="text-red-700 text-sm mt-1 rounded relative" role="alert">
          <span class="block sm:inline">{{'messages.validation.startDate' | translate}}</span>
        </div>
      </div>
      <div class="w-full md:w-4/12 px-3 mb-6 md:mb-0">
        <label class="block text-gray-700 text-md font-bold mb-2" for="endDate">
          {{'trip.endDate' | translate}}
        </label>
        <p-calendar placeholder="{{'trip.endDate' | translate}}" formControlName="endDate"></p-calendar>
        <div *ngIf="tripForm.get('endDate').errors && tripForm.get('endDate').touched && tripForm.get('endDate').errors.required" class="text-red-700 text-sm mt-1 rounded relative" role="alert">
          <span class="block sm:inline">{{'messages.validation.required' | translate}}</span>
        </div>
        <div *ngIf="tripForm.get('endDate').touched && tripForm.get('endDate').value && tripForm.get('startDate').value && tripForm.errors?.endDate" class="text-red-700 text-sm mt-1 rounded relative" role="alert">
          <span class="block sm:inline">{{'messages.validation.endDate' | translate}}</span>
        </div>
      </div>
      <div class="w-full md:w-4/12 px-3 mb-6 md:mb-0">
        <label class="block text-gray-700 text-md font-bold mb-2" for="startDate">
          {{'trip.publicationDate' | translate}}
        </label>
        <p-calendar placeholder="{{'trip.publicationDate' | translate}}" formControlName="publicationDate"></p-calendar>
        <div *ngIf="tripForm.get('publicationDate').errors && tripForm.get('publicationDate').touched && tripForm.get('publicationDate').errors.required" class="text-red-700 text-sm mt-1 rounded relative" role="alert">
          <span class="block sm:inline">{{'messages.validation.required' | translate}}</span>
        </div>
        <div *ngIf="tripForm.get('publicationDate').touched && tripForm.get('startDate').value && tripForm.get('publicationDate').value && tripForm.errors?.publicationDate" class="text-red-700 text-sm mt-1 rounded relative" role="alert">
          <span class="block sm:inline">{{'messages.validation.publicationDate' | translate}}</span>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-md font-bold mb-2" for="requirements">
        {{'trip.requirements' | translate}}
      </label>
      <input class="appearance-none border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="requirements" formControlName="requirements" type="text" placeholder="{{'trip.requirements' | translate}}">
      <div *ngIf="tripForm.get('requirements').errors && tripForm.get('requirements').touched && tripForm.get('requirements').errors.required" class="text-red-700 text-sm mt-1 rounded relative" role="alert">
        <span class="block sm:inline">{{'messages.validation.required' | translate}}</span>
      </div>
    </div>

    <div class="border-2 p-5 mb-4">
      <h2 class="text-xl mb-4 font-bold text-gray-900">{{'stage.stages' | translate}}</h2>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full md:w-3/12 px-3 mb-6 md:mb-0">
          <label class="block tracking-wide text-gray-700 font-bold mb-2">
            {{'trip.title' | translate}}
          </label>
        </div>
        <div class="w-full md:w-5/12 px-3 mb-6 md:mb-0">
          <label class="block tracking-wide text-gray-700 font-bold mb-2">
            {{'trip.description' | translate}}
          </label>
        </div>
        <div class="w-full md:w-3/12 px-3 mb-6 md:mb-0">
          <label class="block tracking-wide text-gray-700 font-bold mb-2">
            {{'trip.price' | translate}}
          </label>
        </div>
        <div class="w-full md:w-1/12 px-3 mb-6 md:mb-0">
        </div>
      </div>
    <div formArrayName="stages"
      *ngFor="let stage of tripForm.controls['stages'].controls; let i = index;">
      <div [formGroupName]="i">
        <div class="flex flex-wrap -mx-3 mb-2">
          <div class="w-full md:w-3/12 px-3 mb-6 md:mb-0">
            <input class="appearance-none border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="stage-title" formControlName="title" type="text" placeholder="{{'trip.title' | translate}}">
            <div *ngIf="tripForm.controls['stages'].controls[i].get('title').errors && tripForm.controls['stages'].controls[i].get('title').touched && tripForm.controls['stages'].controls[i].get('title').errors.required" class="text-red-700 text-sm mt-1 rounded relative" role="alert">
              <span class="block sm:inline">{{'messages.validation.required' | translate}}</span>
            </div>
          </div>
          <div class="w-full md:w-5/12 px-3 mb-6 md:mb-0">
            <textarea class="appearance-none border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="stage-description" formControlName="description" type="text" placeholder="{{'trip.description' | translate}}"></textarea>
            <div *ngIf="tripForm.controls['stages'].controls[i].get('description').errors && tripForm.controls['stages'].controls[i].get('description').touched && tripForm.controls['stages'].controls[i].get('description').errors.required" class="text-red-700 text-sm mt-1 rounded relative" role="alert">
              <span class="block sm:inline">{{'messages.validation.required' | translate}}</span>
            </div>
          </div>
          <div class="w-full md:w-3/12 px-3 mb-6 md:mb-0">
            <input class="appearance-none border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="price" formControlName="price" type="number" placeholder="{{'trip.price' | translate}}">
            <div *ngIf="tripForm.controls['stages'].controls[i].get('price').errors && tripForm.controls['stages'].controls[i].get('price').touched && tripForm.controls['stages'].controls[i].get('price').errors.required" class="text-red-700 text-sm mt-1 rounded relative" role="alert">
              <span class="block sm:inline">{{'messages.validation.required' | translate}}</span>
            </div>
          </div>
          <div class="md:w-1/12 text-md items-center">
            <button class="text-red-900 h-8 w-8 m-2 bg-red-300 hover:bg-red-400 rounded-full focus:outline-none focus:shadow-outline" type="button" (click)="deleteStage(i)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <button class="m-2 bg-blue-300 hover:bg-blue-400 py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" (click)="addStage()">
      <i class="fa fa-plus-circle"></i>
      {{'stage.add' | translate}}
    </button>
    <div class="bg-teal-100 border-teal-200 border-2 m-2 p-1 inline-block rounded">
      {{'trip.price' | translate}}: {{totalPrice}}
    </div>
    </div>

    <h2 class="text-xl mb-4 font-bold text-gray-900">{{'trip.pictures' | translate}}</h2>
    <div *ngIf="trip.pictures.length>0" class="border-2 grid grid-cols-1 md:grid-cols-4 xl:grid-cols-4 gap-4 mb-4 p-5">
      <div *ngFor="let p of trip.pictures; let i = index">
        <div>
          <img class="" src="{{p}}">
          <button type="button" class="border-red-500 border-1 bg-red-400 px-2 py-1 hover:bg-red-500 text-white rounded focus:outline-none focus:shadow-outline" (click)="removePicture(p)">
            {{'common.remove' | translate}}
          </button>
        </div>
      </div>
    </div>
    <p-fileUpload 
      customUpload="true" 
      multiple="multiple" 
      accept="image/*"
      (onRemove)="onPictureRemove($event)" 
      (uploadHandler)="onPictureUpload($event)"  
      name="myfile[]"
      uploadLabel="{{'common.upload' | translate}}"
      cancelLabel="{{'common.clear' | translate}}"
      chooseLabel="{{'common.choose' | translate}}"
      styleClass="uploader"
      [showCancelButton]="false"
      [auto]="true"
      [showUploadButton]="false"
      ></p-fileUpload><br/>
      
    <div class="flex items-center justify-center">
      <button id="editBtn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        {{'common.update' | translate}}
      </button>&nbsp;&nbsp;
      <button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" (click)="toggleModal()">
        {{'tripApplication.cancel' | translate}}
      </button>&nbsp;&nbsp;
      <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" (click)="removeTrip()">
        {{'common.remove' | translate}}
      </button>
    </div>

    <!--Modal-->
    <div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
      <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
      
      <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">

        <!-- Add margin if you want to see some of the overlay behind the modal-->
        <div class="modal-content py-4 text-left px-6">
          <!--Title-->
          <div class="flex justify-between items-center pb-3">
            <p class="text-2xl font-bold">{{'trip.cancel' | translate}}</p>
            <div class="modal-close cursor-pointer z-50" (click)="toggleModal()">
              <i class="fa fa-times mr-1" aria-hidden="true"></i>
            </div>
          </div>

          <!--Body-->
          <p>{{'trip.cancelReason' | translate}}:</p>

          <form (ngSubmit)="onReject(f)" #f="ngForm">
            <textarea ngModel name="rejectedReason" form="trip.id" class="resize-none border rounded focus:outline-none focus:shadow-outline w-full h-32 my-4" required></textarea>
            <!--Footer-->
            <div class="flex justify-center">
              <button *ngIf="f.value.rejectedReason === ''" type="submit" class="bg-green-300 text-white mx-1 font-bold rounded-full py-2 px-2 cursor-not-allowed" [disabled]="f.value.rejectedReason === ''">{{'tripApplication.accept' | translate}}</button>
              <button *ngIf="f.value.rejectedReason !== ''" type="submit" class="bg-green-300 text-white mx-1 hover:underline font-bold rounded-full py-2 px-2" [disabled]="f.value.rejectedReason === ''">{{'tripApplication.accept' | translate}}</button>
              <button class="bg-red-300 text-white mx-1 hover:underline font-bold rounded-full py-2 px-2" (click)="toggleModal()">{{'tripApplication.cancel' | translate}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </form>
</div>